body {
  font-family: "Courier New", Courier, monospace;
  background-color: #ebebeb;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

@media screen and (min-width: 400px) {
  body {
    font-size: 30px;
  }
}

h1 {
  text-align: center;
  font-weight: 100;
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
}

p {
  text-align: justify;
  font-family: "Courier New", Courier, monospace;
}

h2,
h4 {
  text-align: center;
  text-decoration: underline;
}

img {
  height: auto;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

ul {
  text-align: center;
  margin-top: 50px;
  padding: 0;
  list-style-type: circle;
}

li {
  display: block;
}

li:hover {
  text-decoration: underline;
  text-decoration-color: orange;
  cursor: crosshair;
}
